.riddle{
	width: 550px;
	height: 130px;
	border-radius: 50px; 
	border-color: blue;
	border-style: solid;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
}

.ranking_riddle{
	width: 550px;
	height: 170px;
	border-radius: 50px;
	border-color: orange;
	border-style: solid;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
}